@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Mukta:wght@200&display=swap');

* {
    color: white;
    background-color: #17181f;
    /* background: radial-gradient(#ff4c39, #ff4c39, #ff513a, #ff5b3d, #ff6741, #ff6d42); */
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #b77025;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #846908;
}

a.title {
    font-family: 'Heebo', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    transition: 200ms;
}

nav img {
    border-radius: 60px;
    font-weight: bold;
}

div.text-zone {
    padding-top: 2%;
    margin-left: 14%;
    margin-right: 14%;
    border-radius: 50px;
}

p.text-brut {
    padding-left: 10px;
    border-radius: 10px;
    font-weight: 700;
    font-size: large;
    color: white;
    background-color: #373739;
}